@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./assets/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./assets/fonts/inter-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./assets/fonts/inter-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: url('./assets/fonts/karla-bold.woff2') format('woff2');
}

// Colors
$clr-primary-600: hsl(231, 42%, 28%);   // text
$clr-primary-400: hsl(230, 34%, 46%);   // btn-bg & option border
$clr-neutral-400: hsl(230, 61%, 90%);   // selected option (no border)
$clr-neutral-300: hsl(231, 41%, 90%);   // <hr>
$clr-neutral-200: hsl(220, 43%, 97%);   // bg
$clr-accent-success: #94D7A2;
$clr-accent-error: #F8BCBC;

// Typography
$ff-heading: 'Karla', sans-serif;
$ff-paragraph: 'Inter', sans-serif;
$fs-1: 1.9375rem;
$fs-p: 1rem;
$fs-result: 0.8125rem;
$fs-small: 0.625rem;

// Karla 700, 
// Inter 700, 600, 500, 400

body {
  font-family: $ff-paragraph;
}

h1 {
  font-family: $ff-heading;
  font-size: $fs-1;

}