/* ==============
Fonts
===============*/

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./assets/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./assets/fonts/inter-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./assets/fonts/inter-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: url('./assets/fonts/karla-bold.woff2') format('woff2');
}

/* ==============
Variables
===============*/
// Colors
$clr-primary-600: hsl(231, 42%, 28%);   // text
$clr-primary-400: hsl(230, 34%, 46%);   // btn-bg & option border
$clr-neutral-400: hsl(230, 61%, 90%);   // selected option (no border)
$clr-neutral-300: hsl(231, 41%, 90%);   // <hr>
$clr-neutral-200: hsl(220, 43%, 97%);   // bg
$clr-accent-success: #94D7A2;
$clr-accent-error: #F8BCBC;

// Typography
$ff-heading: 'Karla', sans-serif;
$ff-paragraph: 'Inter', sans-serif;
$fs-1: 1.9375rem;
$fs-p: 1rem;
$fs-result: 0.8125rem;
$fs-small: 0.625rem;

// Layout
$wrapper-width: 72.7%;
$wrapper-margin: calc((100% - $wrapper-width) / 2);

/* ==============
Reset
===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==============
General styles
===============*/
body {
  font-family: $ff-paragraph;
  font-size: $fs-p;
  font-weight: 400;
  color: $clr-primary-600;
  line-height: 1.21;
}

.wrapper {
  width: 72.7%;
  margin-inline: auto;
  padding-top: 2.5em;
}

/* ==============
Typography
===============*/
h1 {
  font-family: $ff-heading;
  font-size: $fs-1;
  font-weight: 700;
  line-height: 1.17;
}

.question__title {
  font-family: $ff-heading;
  font-size: $fs-p;
  font-weight: 700;
  line-height: 1.17;
}

.question__option {
  font-size: $fs-small;
  font-weight: 500;
  line-height: 1.17;
}

/* ==============
Layout
===============*/
.question {
  border-bottom: 1px solid $clr-neutral-300;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
}

.question__title {
  margin-bottom: 0.75em;
}

.question__option-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75em;
}

.question__option {
  padding: 0.5em 1.5em;
  font-family: inherit;
  color: $clr-primary-600;
  background-color: $clr-neutral-200;
  border: 1px solid $clr-primary-400;
  border-radius: 10px;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

.question__option--selected {
  background-color: $clr-neutral-400;
  border-color: $clr-neutral-400;
}

/* ==============
Media queries
===============*/
@media (min-width: 992px) {
  :root {
    font-size: 22px;
  }

  body {
    max-width: 1200px;
    margin-inline: auto;
  }
}