/* ==============
Fonts
===============*/

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./assets/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./assets/fonts/inter-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./assets/fonts/inter-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: url('./assets/fonts/karla-bold.woff2') format('woff2');
}

/* ==============
Variables
===============*/
// Colors
$clr-primary-600: hsl(231, 42%, 28%);   // text
$clr-primary-400: hsl(230, 34%, 46%);   // btn-bg & option border
$clr-neutral-400: hsl(230, 61%, 90%);   // selected option (no border)
$clr-neutral-300: hsl(231, 41%, 90%);   // <hr>
$clr-neutral-200: hsl(223, 47%, 97%);   // bg
$clr-accent-success: #94D7A2;
$clr-accent-error: #F8BCBC;

// Typography
$ff-heading: 'Karla', sans-serif;
$ff-paragraph: 'Inter', sans-serif;
$fs-1: 1.9375rem;
$fs-p: 1rem;
$fs-result: 0.8125rem;
$fs-small: 0.625rem;

// Layout
$wrapper-width: 72.7%;
$wrapper-margin: calc((100% - $wrapper-width) / 2);

/* ==============
Reset
===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==============
General styles
===============*/

body {
  position: relative;
  margin-inline: auto;
  font-family: $ff-paragraph;
  font-size: $fs-p;
  font-weight: 400;
  color: $clr-primary-600;
  line-height: 1.21;
}

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin-inline: auto;
}

.btn {
  padding: 1em 2.1em;
  background-color: $clr-primary-400;
  border: 1px solid $clr-primary-400;
  border-radius: 10px;
  transition: opacity 0.1s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

/* ==============
Typography
===============*/
.btn {
  font-family: $ff-heading;
  font-size: $fs-small;
  font-weight: 600;
  color: $clr-neutral-200;
  line-height: 1.21;
}

.intro__title {
  font-family: $ff-heading;
  font-size: $fs-1;
  font-weight: 700;
  line-height: 1.17;
}

.intro__btn {
  font-size: $fs-p;
  font-weight: 500;
  color: $clr-neutral-200;
  line-height: 1.21;
}

.question__title {
  font-family: $ff-heading;
  font-size: $fs-p;
  font-weight: 700;
  line-height: 1.17;
}

.question__option {
  font-size: $fs-small;
  font-weight: 500;
  line-height: 1.17;
}

.evaluation__score {
  font-family: $ff-paragraph;
  font-size: $fs-result;
  font-weight: 700;
  color: $clr-primary-600;
  line-height: 1.21;
}

a {
  text-decoration: none;
}

/* ==============
Layout
===============*/
// Starting page
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.intro {
  text-align: center;

  &::before {
    content: url('./assets/blob-1.svg');
    position: fixed;
    top: 0;
    right: 0;
    transform: scale(0.75);
    transform-origin: top right;
  }

  &::after {
    content: url('./assets/blob-2.svg');
    position: fixed;
    left: 0;
    bottom: 0;
    height: 118px;
    transform: scale(0.75);
    transform-origin: bottom left;
  }

  &__title {
    margin-bottom: 0.35em;
  }
  
  &__description {
    margin-bottom: 1.8em;
  }
  
  &__btn {
    padding-inline: 3.5em;
    border-radius: 15px;
  }
}

// Quiz
.quiz {
  width: 90%;
  margin-inline: auto;
  padding-top: 1.35em;
}

.question {
  border-bottom: 1px solid $clr-neutral-300;
  padding-bottom: 0.9375em;
  margin-bottom: 0.9375em;

  &__title {
    margin-bottom: 0.675em;
  }
  
  &__option-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.7em;
  }
  
  &__option {
    padding: 0.38em 0.8em;
    min-width: 60px;
    font-family: inherit;
    color: $clr-primary-600;
    background-color: $clr-neutral-200;
    border: 1px solid $clr-primary-400;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;

    &--selected {
      background-color: $clr-neutral-400;
      border-color: $clr-neutral-400;
    }
    
    &--success {
      background-color: $clr-accent-success;
      border-color: $clr-accent-success;
    }
    
    &--error {
      background-color: $clr-accent-error;
      border-color: $clr-accent-error;
    }
    
    &--light {
      opacity: 0.5;
    }

    &--disabled {
      pointer-events: none;
    }
  }
}

// Quiz evaluation
.evaluation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-block: 1.25em;
}

/* ==============
Media queries
===============*/
@media (min-width: 576px) {
  :root {
    font-size: 18px;
  }

  .intro::before,
  .intro::after {
    transform: scale(1);
  }
  
  .quiz {
    width: 85%;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 20px;
  }

  .intro::before,
  .intro::after {
    transform: scale(1.25);
  }

  .quiz {
    width: 80%;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 22px;
  }

  .intro::before,
  .intro::after {
    transform: scale(1.5);
  }

  .quiz {
    width: 72.7%;
  }
}

@media (min-width: 1200px) {
  .intro::before,
  .intro::after {
    transform: scale(2);
  }
}

@media (min-width: 1400px) {
  .intro::before,
  .intro::after {
    transform: scale(2.5);
  }

  .quiz {
    &::before {
      content: url('./assets/blob-1.svg');
      position: fixed;
      top: 0;
      right: 0;
      transform: scale(1.25);
      transform-origin: top right;
    }
  
    &::after {
      content: url('./assets/blob-2.svg');
      position: fixed;
      left: 0;
      bottom: 0;
      height: 118px;
      transform: scale(1.25);
      transform-origin: bottom left;
    }
  }
}